@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

@keyframes color-shift {
  0% { color: #D4AF37; }
    25% { color: #a67c00; }
    50% { color: #0B1F3A; }
    75% { color: #2ECC71; }
    100% { color: #D4AF37; }
}

.animate-color-shift {
  animation: color-shift 8s linear infinite;
}